
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 40px;
}


h1{
    text-align: center;
    margin-bottom: 40px;
}


.container{
    width: 80%;
    margin: auto;
}


.box{
    width: 200px;
    height: 100px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.box1{
    background-color: royalblue;
}


.box2{
    background-color: tomato;
    position: relative;
    top: 40px;
    left: 60px;
}


.box3{
    background-color: seagreen;
}