 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
a{text-decoration: none;}
body{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.news1{
    width: 350px;
    height: 500px;
    padding: 20px;
    margin: 30px auto;
    border: 3px solid blue;
    background-color: lightyellow;
    text-align: center;
}

.news2{
    width: 350px;
    height: 500px;
    padding: 20px;
    margin: 60px auto;
    border: 3px solid green;
    background-color: lightcyan;
    text-align: center;
}

img{
    border: 2px solid black;
}

h2{
    color: darkblue;
}

h4{
    color: maroon;
}

h5{
    color: gray;
}