*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
a{text-decoration: none;}
body{
    background-color:lightblue;
    font-family: Arial, sans-serif;
}
body{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.product-card{
    width: 320px;
    height: 500px;
    padding: 20px;
    border: 4px solid royalblue; 
    margin: 40px auto;
    background-color: white;
    text-align: center;
}

.product-card img{
    border: 3px solid green;       
}

h2{
    color: darkblue;
}

h3{
    color: red;
}

p{
    color: #333;
}

button{
    background-color: orange;
    color: white;
    border: 2px solid purple;       
    padding: 10px 20px;
    margin-top: 15px;
    
}

