
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 50px;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.btn {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #007BFF;
    color: white;
    
    
}

.btn:hover {
    background-color: #28a745;
    color: yellow;
    border-radius: 20px;
    cursor: pointer;
}