 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    width: 250px;
    margin: auto;
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}


li:first-child {
    background-color: green;
    color: white;
    font-weight: bold;
}


li:last-child {
    background-color:orangered;
    color: white;
    font-weight: bold;
}

    
