
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}


.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #333;
    
}

.card h2 {
    color: #0077cc;
    margin-bottom: 15px;
}

.card p {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

